section#block-views-block-soluciones-block-1{
    margin-bottom: -8px;
    .medium-4.columns.views-row {
        padding-left: 0;
        padding-right: 0;
    }
    .solucion{
        position: relative;
        @media screen and (max-width: 600px){
           margin-bottom: 1px;
         }
         .views-field.views-field-view-node {
            display: inline-block;
            width: 100%;
            position: absolute;
            height: 100%;
            background: transparent;
            z-index: 3;
            cursor: pointer;
            text-indent: -100000px;
            a{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        &:after{
            position: absolute;
            width: 100%;
            height: 100%;
            content: "";
            background: rgba(49, 68, 89,0.4);
            top: 0;
            left: 0;
            z-index: 1;
        }
        &:hover{
            &:before{
                background-image: url(../images/more.svg);
                position: absolute;
                left: 50%;
                bottom: 4rem;
                content: "";
                width: 30px;
                height: 30px;
                z-index: 3;
                background-size: contain; 
                transform: translateX(-50%);
                @media screen and (max-width: 600px){
                    display: none;
                }
            }
            &:after{
                position: absolute;
                width: 100%;
                height: 100%;
                content: "";
                background: $primary-color;
                top: 0;
                left: 0;
                z-index: 1;
                transition: ease all 0.6s; 
                cursor: pointer;
                @media screen and (max-width: 600px){
                    display: none;
                }
            }
            .views-field-title {
                position: absolute;
                z-index: 2;
                top: 20%;
                transition: ease-out all 0.6s;
                @media screen and (max-width: 600px){
                    top: 70%;
                 }
            }
            .views-field.views-field-body {
                position: absolute;
                z-index: 2;
                color:rgba(254, 254, 254, 1);
                text-align: center;
                top: 34%;
                padding: 0 2rem;
                transition: ease all 0.6s;
            font-size: 0.9rem;
                @media screen and (max-width: 600px){
                   display: none;
                }
                
            }
        }
        .views-field.views-field-field-imagen {
            position: relative;
            @media screen and (max-width: 600px){
                &::before{
                    background-image: url(../images/more.svg);
                    position: absolute;
                    left: 50%;
                    bottom: 50%;
                    content: "";
                    width: 30px;
                    height: 30px;
                    z-index: 2;
                    background-size: contain;
                    transform: translateX(-50%); 
                }
             }
        }
        .views-field-title {
            position: absolute;
            z-index: 2;
            display: inline-block;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
            white-space: nowrap;
            transition: ease-out all 0.6s;
            a{
                color: $white;
                font-size: 2rem;
                font-weight: 700;
                letter-spacing: -1px;
                font-family: $header-font-family;
            }
            @media screen and (max-width: 600px){
                top: 70%;
                
             }
        }
        .views-field.views-field-body {
            position: absolute;
            z-index: 2;
            color:rgba(254, 254, 254, 0);
            text-align: center;
            top: 54%;
            padding: 0 2rem;
            transition: ease all 0.6s;
            font-size: 0.9rem;
            @media screen and (max-width: 600px){
                display: none;
             }
        }
        
    }
}
//Casos
.proyectos{
    .columns{
        padding-left: 0;
        padding-right: 0;
    }
    .views-row{
        position: relative;
        &:after{
            position: absolute;
            width: 100%;
            height: 100%;
            content: "";
            background: rgba(21, 32, 45, 0.59);
            top: 0;
            left: 0;
            z-index: 1;
            transition: ease-out all 0.6s;
        }
        &:hover{
            &:after{
                position: absolute;
                width: 100%;
                height: 100%;
                content: "";
                background: rgba(49, 68, 89,0.9);
                top: 0;
                left: 0;
                z-index: 1;
                transition: ease-out all 0.6s;
                cursor: pointer;
            }
        }
        .views-field.views-field-view-node {
            display: inline-block;
            width: 100%;
            position: absolute;
            height: 100%;
            background: transparent;
            z-index: 3;
            cursor: pointer;
            text-indent: -100000px;
            a{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        .views-field-field-titulo-portada{
            position: absolute;
            z-index: 2;
            display: inline-block;
            bottom: 4rem;
            left: 50%;
            transform: translateX(-50%);
            transition: ease-out all 0.6s;
            text-align: center;
            line-height: 1.8em;
            a{
                color: $white;
                font-size: 2rem;
                font-weight: 700;
                letter-spacing: -1px;
                font-family: $header-font-family;
            }
        }
        .views-field-term-node-tid{
            position: absolute;
            z-index: 2;
            display: inline-block;
            bottom: 2.6rem;
            left: 50%;
            transform: translateX(-50%);
            white-space: nowrap;
            transition: ease-out all 0.6s;
            text-transform: uppercase;
            font-size: 0.9rem;
            color: $primary-color;
            font-weight: 500;
        }
    }
}
.block-projects{
   
    .owl-item {
        position: relative;
        &:after{ 
            position: absolute;
            width: 100%;
            height: 100%;
            content: "";
            background: rgba(21, 32, 45, 0.59);
            top: 0;
            left: 0;
            z-index: 1;
            transition: ease-out all 0.6s;
        }
        &:hover{
            &:after{
                position: absolute;
                width: 100%;
                height: 100%;
                content: "";
                background: rgba(49, 68, 89,0.9);
                top: 0;
                left: 0;
                z-index: 1;
                transition: ease-out all 0.6s;
                cursor: pointer;
            }
        }
        .views-field.views-field-view-node {
            display: inline-block;
            width: 100%;
            position: absolute;
            height: 100%;
            background: transparent;
            z-index: 3;
            cursor: pointer;
            text-indent: -100000px;
            a{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        .views-field-field-titulo-portada {
            position: absolute;
            z-index: 2;
            display: inline-block;
            bottom: 4rem;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            line-height: 1.8em;
            transition: ease-out all 0.6s;
            width: 90%;
            a{
                color: $white;
                font-size: 1.8rem;
                font-weight: 700;
                letter-spacing: -1px;
                font-family: $header-font-family;
            }
        }
        .views-field-term-node-tid{
            position: absolute;
            z-index: 2;
            display: inline-block;
            bottom: 2.6rem;
            left: 50%;
            transform: translateX(-50%);
            white-space: nowrap;
            transition: ease-out all 0.6s;
            text-transform: uppercase;
            font-size: 0.8rem;
            color: $primary-color; 
            font-weight: 500;
            width: 80%;
            text-align: center;
            @media screen and (max-width: 600px){
                white-space: normal;
                text-align: center;
                font-size: 0.7rem;
                bottom: 2rem;
               
            }
        }
    }
    .owl-theme .owl-controls {
        margin-top: auto;
        position: absolute;
        width: 100%;
        height: 0;
        top: 50%;
        transform: translateY(-48px);

        .owl-prev {
            float: left;
            position: relative;
            &:after{
                background-image: url(../images/left.png);
                position: absolute;
                left: 50%;
                right: 0;
                content: "";
                width: 20px;
                height: 20px;
                transform: translateX(-50%);
                top: 40%;
            }
        }
        .owl-next {
            float: right;
            position: relative;
            &:after{
                background-image: url(../images/right.png);
                position: absolute;
                left: 50%;
                right: 0;
                content: "";
                width: 20px;
                height: 20px;
                transform: translateX(-50%);
                top: 40%;
            }
        }
        .owl-buttons div {
            color: #FFF;
            display: inline-block;
            display: inline;
            margin: 0;
            padding: 3px 10px;
            font-size: 12px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 0px;
            border-radius: 0px;
            background: $secondary-color;
            opacity: 0.2;
            text-indent: -10000px;
            width: 2rem;
            height: 6rem;
            transition: ease-out all 0.6s;
            &:hover{
                opacity: 1;
                transition: ease-out all 0.6s;
            }
        }
    }
    &.interno{
        margin-bottom: -8px;
        h2{
            margin-bottom: 2rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    font-family: $body-font-family;
            
        }
    }
}
.block-projects-2{
margin-bottom: -48px;
    .owl-item {
        position: relative;
        &:after{
            position: absolute;
            width: 100%;
            height: 100%;
            content: "";
            background: rgba(49, 68, 89,0.1);
            top: 0;
            left: 0;
            z-index: 1;
            transition: ease-out all 0.6s;
        }
        &:hover{
            &:after{
                position: absolute;
                width: 100%;
                height: 100%;
                content: "";
                background: rgba(49, 68, 89,0.8);
                top: 0;
                left: 0;
                z-index: 1;
                transition: ease-out all 0.6s;
                cursor: pointer;
            }
        }
        .views-field.views-field-view-node {
            display: inline-block;
            width: 100%;
            position: absolute;
            height: 100%;
            background: transparent;
            z-index: 3;
            cursor: pointer;
            text-indent: -100000px;
            a{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        .views-field-field-titulo-portada {
            position: absolute;
            z-index: 2;
            display: inline-block;
            bottom: 4rem;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            line-height: 1.8em;
            transition: ease-out all 0.6s;
            a{
                color: $white;
                font-size: 2rem;
                font-weight: 700;
                letter-spacing: -1px;
                font-family: $header-font-family;
            }
        }
        .views-field-term-node-tid{
            position: absolute;
            z-index: 2;
            display: inline-block;
            bottom: 2.6rem;
            left: 50%;
            transform: translateX(-50%);
            white-space: nowrap;
            transition: ease-out all 0.6s;
            text-transform: uppercase;
            font-size: 0.9rem;
            color: $primary-color; 
            font-weight: 500;
        }
    }
    .owl-theme .owl-controls {
        margin-top: auto;
        position: absolute;
        width: 100%;
        height: 0;
        top: 50%;
        transform: translateY(-48px);

        .owl-prev {
            float: left;
            position: relative;
            &:after{
                background-image: url(../images/left.png);
                position: absolute;
                left: 50%;
                right: 0;
                content: "";
                width: 20px;
                height: 20px;
                transform: translateX(-50%);
                top: 40%;
            }
        }
        .owl-next {
            float: right;
            position: relative;
            &:after{
                background-image: url(../images/right.png);
                position: absolute;
                left: 50%;
                right: 0;
                content: "";
                width: 20px;
                height: 20px;
                transform: translateX(-50%);
                top: 40%;
            }
        }
        .owl-buttons div {
            color: #FFF;
            display: inline-block;
            display: inline;
            margin: 0;
            padding: 3px 10px;
            font-size: 12px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 0px;
            border-radius: 0px;
            background: $secondary-color;
            opacity: 0.2;
            text-indent: -10000px;
            width: 2rem;
            height: 6rem;
            transition: ease-out all 0.6s;
            &:hover{
                opacity: 1;
                transition: ease-out all 0.6s;
            }
        }
    }
    .field-label {
        text-transform: uppercase;
        font-weight: 600;
        padding-left: 7rem;
        @media screen and (max-width: 600px){
            padding-left: 0.7rem;
        }
    }
}



//Noticias
.news{
    .views-row{
        margin-bottom: 2rem;
        min-height: 410px;
        @media screen and (max-width: 600px){
            min-height: auto;
        }
        .views-field-field-image {
            margin-bottom: 1rem;
        }
        .title {
            font-size: 1rem; 
            a{
                color: $black; 
            }
        }
        .container-date.text-center {
            background: $light-gray;
            width: 100%;
            display: block;
            padding: 0.5rem;
            .mes {
                text-transform: uppercase;
                font-size: 0.8rem;
                font-weight: 400;
                letter-spacing: 3px;
                color: $primary-color;
                line-height: 1.2em;
            }
            .dia {
                text-transform: uppercase;
                font-size: 1.8rem;
                font-weight: 900;
                color: $primary-color;
                line-height: 1.2em;
            }

        } 
        .container-img {
            position: relative;
            margin-bottom: 1rem; 
            &:after{
                position: absolute;
                width: 100%;
                height: 100%;
                content: "";
                background: rgba(49, 68, 89,0.2);
                top: 0;
                left: 0;
                z-index: 1;
            }
            .tipo{
            position: absolute;
            bottom: 0;
            left: 0;
            text-transform: uppercase;
            font-size: 0.8rem;
            color: white;
            background: rgba(49, 68, 88, 0.88);
            padding: 0.2rem 0.4rem;
            }
        }
    }
}

section#block-fotooficinas {
    background-image: url(../images/team.jpg);
    background-size: cover;
    display: block;
    float: right;
    width: 50%;
    height: 28rem;
    @media screen and (max-width: 600px){
        width: 100%;
        height: 15rem;
    }
}
section#block-webform {
    @media screen and (max-width: 600px){
        padding: 0;
    }
}
ul.social-media-links--platforms.platforms.inline.horizontal {
    display: inline-block;
    float: right;
    padding-right: 1rem;
    @media screen and (max-width: 600px){
        text-align: center;
        float: none;
        padding-right: 0;
    }
}
section#block-socialmedialinks {
    text-align: center;
    ul{
        margin-left: 0;
    }
}
section#block-views-block-clientes-block-2{
    padding-bottom: 100px;
    .views-field.views-field-field-image {
        text-align: center;
        .field-content {
            display: inline-block;
        }
    }
}

//Interna soluciones
.section-servicios{
    .field-label {
        font-size: 1.6rem;
        font-weight: 600;
        color: $primary-color;
        font-family: $header-font-family;
        @media screen and (max-width: 600px){
            font-size: 1.2rem;
        }
    }
    .block1{
        display: inline-block;
        width: 100%;
        .field-name-node-title{
            margin-bottom: 2rem;
            @media screen and (max-width: 600px){
                margin-bottom: 1rem;
            }
        }
        .field-name-body {
            font-size: 1.3rem;
            line-height: 1rem !important;
            @media screen and (max-width: 600px){
                font-size: 1rem;
            }
        }
        
        .columns{
            &.simple{
                padding-left: 0;
            }
        }
        @media screen and (max-width: 600px){
            .columns{
                &.simple{
                    padding-left: 0.7rem;
                    img{
                        margin-bottom: 2rem;
                    }
                }
            }
        }
    }
    .container-items{
        background: $light-gray;
        margin-top: -8px;
        .field-label {
            margin-bottom: 2rem;
        }
        .container-item {
            background: $secondary-color;
            padding: 1.2rem;
            margin-bottom: 1rem; 
            color: $white;
            position: relative;
            min-height: 6rem; 
            .item {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                padding-right: 1rem;
            }
            .icon {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}
//filtros
form#views-exposed-form-media-center-page-1, form#views-exposed-form-proyectos-page-1, .block-menusoluciones {
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    margin: 3rem auto;
    @media screen and (max-width: 600px){
        padding-right: 0;
        margin: 2rem auto 1rem auto;
    }
    ul{
        list-style: none;
        margin-left: 0;
        @media screen and (max-width: 600px){
            white-space: nowrap;
            overflow-x: scroll;
            display: block;
            height: 4rem;
        }
        li{
             display: inline-block;
             margin-right: 1.4rem;
             @media screen and (max-width: 600px){
                margin-right: 1rem;
             }
             a{
                 text-transform: uppercase;
                 font-size: 1.2rem; 
                 color: $black;
                 transition: ease all 0.4s;
                 @media screen and (max-width: 600px){
                    font-size: 1rem;
                 }
                 &:hover{
                     color: $primary-color;
                     transition: ease all 0.4s;
                 }
             }
             a.bef-link--selected, a.is-active{
                 color: $primary-color;
                 position: relative;
                 &:after{
                    background-image: url(../images/down.svg);
                    position: absolute;
                    left: 50%;
                    bottom: -21px;
                    content: "";
                    width: 13px;
                    height: 17px;
                    background-size: contain;
                    -ms-transform: translateX(-50%);
                    transform: translateX(-50%);
                    @media screen and (max-width: 600px){
                        bottom: -17px;
                        content: "";
                        width: 14px;
                        height: 18px;
                    }
                 }
             }
        }
    }
}

form#views-exposed-form-proyectos-page-1 {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
}

.path-casos-de-exito{
    ul.js-pager__items {
        list-style: none;
        max-width: 75rem;
        margin-right: auto;
        margin-left: auto;
        margin-top: 2rem;
        padding-left: 0.7rem;
        padding-right: 0.7rem;
    }
}

section#block-subtitulomediacenter {
    display: block;
    @media screen and (max-width: 600px){
        height: auto;
    }
}

section#block-views-block-media-center-block-2{
    header {
        display: inline-block;
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
        @media screen and (max-width: 600px){
            margin-bottom: 0; 
        }
    }
}

section#block-menu {
    position: absolute;
    right: 0;
    z-index: 4;
    
} 

section#block-imagenhome {
    display: inline-block;
    width: 100%;
    height: 32rem;
    background: black;
    background-image: url(../images/imagen-home.jpg);
    background-attachment: fixed;
    background-size: contain;
    background-position: center; 
    @media screen and (max-width: 600px){
        height: 12rem;
    }
}

section#block-socialmedialinks-2 {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    ul{
        margin-left: 0;
    }
}

section#block-views-block-credo-block-1 {
    background: $primary-color;
    position: relative;
    overflow: hidden;
        &:after{
        position: absolute;
        background-image: url(../images/credo.jpg);
        background-size: cover;
        left: 0;
        top: 0;
        content: "";
        width: 25%;
        height: 600px;
        }
        @media screen and (max-width: 600px){
            &:after{
                display: none;
            }
        }
    h1{
        color: $white;
        padding-left: 1rem;
    }
    .views-field.views-field-body {
        line-height: 1.4em;
        font-size: 1.6rem;
        @media screen and (max-width: 600px){
            font-size: 1.2rem;
        }
    }
    .credo {
        float: right;
        padding: 1rem 1.4rem;
        @media screen and (max-width: 600px){
            padding: 1rem;
        }
    }
    .owl-theme .owl-controls .owl-page span {
        background: #ffffff;
    }
}

.section-nosotros{
    p.destacado{
        font-size: 1.4rem; 
        font-weight: 500;
        @media screen and (max-width: 600px){
            font-size: 1.2rem;
        }
    }

    .logos{
        img {
            border: 1px solid #f2f2f2;
            margin-bottom: 2rem;
            width: 75%;
        }
    }
}
section#block-views-block-timeline-block-1{
    div#quicktabs-timeline {
        width: 75%;
        display: inline-block;
        @media screen and (max-width: 600px){
            width: 100%;
        }
    }
}
section#block-views-block-timeline-block-1{
    .views-field.views-field-title {
        font-size: 6rem;
        font-weight: 700;
        letter-spacing: -6px;
        font-family: $header-font-family;
        @media screen and (max-width: 600px){
            font-size: 3rem;
            font-weight: 700;
            letter-spacing: -2px;
        }
    }
    .views-field.views-field-body {
        font-size: 2rem;
        line-height: 1.4em !important;
        @media screen and (max-width: 600px){
            font-size: 1.2rem;
            line-height: 1.2em !important;
        }
    }
    ul.quicktabs-tabs {
        margin-left: 0;
        @media screen and (max-width: 600px){
            margin-left: 0.7rem;
            overflow-x: scroll;
        }
        li{
            padding: 0 1rem 0 0;
            a{
                font-size: 2rem;
                color: $light-gray;
                @media screen and (max-width: 600px){
                    font-size: 1.4rem;
                }
            }
            &.active{
                a{
                    color: $primary-color;
                }
            }
        }
    }
}
section#block-views-block-equipo-block-1, section#block-views-block-equipo-block-2 {
    display: inline-block;
    width: 100%;
    margin-bottom: -8px;
    li.pager__item {
        margin-top: 2rem;
    }
    .medium-3.columns.views-row {
        padding-left: 0;
        padding-right: 0;
    }
    .solucion{
        position: relative;
        @media screen and (max-width: 600px){
           margin-bottom: 1px;
         }
        &:after{
            position: absolute;
            width: 100%;
            height: 100%;
            content: "";
            background: rgba(49, 68, 89,0.1);
            top: 0;
            left: 0;
            z-index: 1;
            @media screen and (max-width: 600px){ 
                background: rgba(49, 68, 89,0.3);
            }
        }
        &:hover{
            &:after{
                position: absolute;
                width: 100%;
                height: 100%;
                content: "";
                background: rgba(27, 183, 235, 0.7);
                top: 0;
                left: 0;
                z-index: 1;
                transition: ease all 0.6s;  
                cursor: pointer;
                @media screen and (max-width: 600px){
                    display: none;
                }
            }
            .views-field-title {
                position: absolute;
                z-index: 2;
                display: inline-block;
                bottom: 15%; 
                left: 50%;
                transform: translateX(-50%);
                white-space: nowrap;
                transition: ease-out all 0.6s;
                margin-bottom: 0.5rem;
                a{
                    color: $white;
                    font-size: 1.6rem;
                    font-weight: 700;
                    letter-spacing: -1px;
                    font-family: $header-font-family;
                    transition: ease-out all 0.6s;
                }
            }
            .views-field-field-cargo{
                position: absolute;
                z-index: 2;
                display: inline-block;
                bottom: 10%; 
                left: 50%;
                transform: translateX(-50%);
                white-space: nowrap;
                transition: ease-out all 0.6s;
                color: $white;
                font-size: 1rem;
                font-family: $white; 
            }
        }
        .views-field.views-field-field-imagen {
            position: relative;
        }
        .views-field-title {
            position: absolute;
            z-index: 2;
            display: inline-block;
            bottom: 20%; 
            left: 50%;
            transform: translateX(-50%);
            white-space: nowrap;
            transition: ease-out all 0.6s;
            margin-bottom: 0.5rem;
            a{
                color: rgba(254, 254, 254, 0);
                font-size: 1.6rem;
                font-weight: 700;
                letter-spacing: -1px;
                font-family: $header-font-family;
                transition: ease-out all 0.6s;
                @media screen and (max-width: 600px){
                    color: $white;
                }
            }
        }
        .views-field-field-cargo{
            position: absolute;
            z-index: 2;
            display: inline-block;
            bottom: 15%; 
            left: 50%;
            transform: translateX(-50%);
            white-space: nowrap;
            transition: ease-out all 0.6s;
            color: rgba(254, 254, 254, 0);
            font-size: 1rem;
            font-family: $white; 
            @media screen and (max-width: 600px){
                color: $white;
            }
        }

        .views-field.views-field-view-node {
            display: inline-block;
            width: 100%;
            position: absolute;
            height: 100%;
            background: transparent;
            z-index: 3;
            cursor: pointer;
            text-indent: -100000px;
            a{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

//Lightbox team
.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front {
    width: 100% !important;
}
.ui-widget-overlay {
    background: $white;
}
.ui-dialog .ui-dialog-titlebar {
    padding: 1em 1em;
}
.ui-widget-header {
    border: 0px solid #dddddd;
    background: #fff/*{bgColorHeader}*/ /*{bgImgUrlHeader}*/ /*{bgHeaderXPos}*/ /*{bgHeaderYPos}*/ /*{bgHeaderRepeat}*/;
    color: #333333/*{fcHeader}*/;
}
.ui-widget-overlay {
    background: #ffffff/*{bgColorOverlay}*/ /*{bgImgUrlOverlay}*/ /*{bgOverlayXPos}*/ /*{bgOverlayYPos}*/ /*{bgOverlayRepeat}*/;
    opacity: 1;
    z-index: 9;
}
.ui-widget.ui-widget-content {
    border: 0px solid #c5c5c5/*{borderColorDefault}*/;
}

.ui-dialog .ui-dialog-title {
    display: none;
}

.section-equipo{
.field-name-field-imagen{
    margin-bottom: 1rem;
}
.field-name-field-cargo{
    color: $primary-color;
    margin-bottom: 2rem;
}
.ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: 7%;
    top: 50%;
    width: 40px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 40px;
    border: 0px;
    background: none;
    @media screen and (max-width: 600px){
        right: 0;
    }
}
.ui-button .ui-icon {
    background-image: url(../images/close.png) !important;
}
.ui-button-icon-only .ui-icon {
    position: absolute;
    top: -12px;
    left: 0;
    margin-top: -8px;
    margin-left: -8px;
}
.ui-icon-closethick {
    background-position: center;
}
.ui-icon {
    width: 40px;
    height: 40px;
}
h3 {
    font-size: 1.4rem;
    color: $primary-color;
}
.views-field.views-field-view-node {



}
}
button:active {
    outline: none;
    border: none;
    }
    
button:focus {outline:0;}

.node--type-proyecto{
    .owl-theme .owl-controls {
        margin-top: auto;
        position: absolute;
        width: 100%;
        height: 0;
        top: 50%;
        transform: translateY(-48px);

        .owl-prev {
            float: left;
            position: relative;
            &:after{
                background-image: url(../images/left.png);
                position: absolute;
                left: 50%;
                right: 0;
                content: "";
                width: 20px;
                height: 20px;
                transform: translateX(-50%);
                top: 40%;
            }
        }
        .owl-next {
            float: right;
            position: relative;
            &:after{
                background-image: url(../images/right.png);
                position: absolute;
                left: 50%;
                right: 0;
                content: "";
                width: 20px;
                height: 20px;
                transform: translateX(-50%);
                top: 40%;
            }
        }
        .owl-buttons div {
            color: #FFF;
            display: inline-block;
            display: inline;
            margin: 0;
            padding: 3px 10px;
            font-size: 12px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 0px;
            border-radius: 0px;
            background: $secondary-color;
            opacity: 0.2;
            text-indent: -10000px;
            width: 2rem;
            height: 6rem;
            transition: ease-out all 0.6s;
            &:hover{
                opacity: 1;
                transition: ease-out all 0.6s;
            }
        }
    }
    #block-linkdigital-content{
        .owl-slider-wrapper.owl-carousel.owl-theme{
            margin-bottom: 3rem;
        }
    }
    .field-wrapper {
        margin-bottom: 1rem;
    }
    .button {
        width: auto;
        @media screen and (max-width: 600px){
            width: 100%;
        }
        a{
            color: $primary-color;
            &:hover{
                color: $white;
            }
        }
    }
    .field-name-field-tags-solucion, .field-name-field-industria, .field-name-field-pais, .field-name-field-solucion{
        .field-item {
            display: inline-block; 
            margin-right: 0.6rem;
            color: $primary-color;
        }
    }
}


section#block-grupotitulo, section#block-grupotitulocasos {
    h1{
        width: 75%;
        display: inline-block;
        @media screen and (max-width: 600px){ 
            padding-left: 0.7rem;
        }
    } 
}

.form-item-he-leido-y-acepto {
    font-size: 0.9rem;
    margin-left: 1rem;
    label.option.form-required {
        margin-right: 0;
        font-size: 0.9rem;
        display: none;
    }
    .description {
        display: inline-block;
    }
}

.mmenu {
    margin-top: 8px;
    @media screen and (max-width: 600px){
        margin-top: 4px;
    }
}

.captcha, #webform_submission_hablemos_add_form-captcha{
    padding: 1.2rem 0.9rem;
}